# Practice Set by School of Core AI

This notebook contains unsolved business logic problems with sample inputs and expected outputs.

## Inventory Price Calculator (Max Data Type Usage)

Calculate the total value of inventory by item type and currency, while removing duplicate SKUs.

Data:
- A list of dictionaries containing SKU, type, price, currency, and in_stock flag.
- A dictionary of currency conversion rates (e.g., USD to INR).

Tasks:
- Remove duplicate SKUs.
- Convert all prices to INR.
- Calculate total value of in-stock items per item type.

Sample Input:
inventory = [
    {"sku": "A101", "type": "Electronics", "price": 1200.50, "currency": "USD", "in_stock": True},
    {"sku": "A101", "type": "Electronics", "price": 1200.50, "currency": "USD", "in_stock": True},  # duplicate
    {"sku": "B202", "type": "Furniture", "price": 8000, "currency": "INR", "in_stock": False},
    {"sku": "C303", "type": "Electronics", "price": 1000, "currency": "USD", "in_stock": True},
]

conversion = {("USD", "INR"): 83.5}

Expected Output:
{'Electronics': 183367.75}

In [53]:
# Your code here
inventory = [ {"sku": "A101", "type": "Electronics", "price": 1200.50, "currency": "USD", "in_stock": True},
             {"sku": "A101", "type": "Electronics", "price": 1200.50, "currency": "USD", "in_stock": True}, 
             {"sku": "B202", "type": "Furniture", "price": 8000, "currency": "INR", "in_stock": False},
             {"sku": "C303", "type": "Electronics", "price": 1000, "currency": "USD", "in_stock": True}, ]
import pandas as pd
import numpy as np

df = pd.DataFrame(inventory)
df

    sku         type   price currency  in_stock
0  A101  Electronics  1200.5      USD      True
1  A101  Electronics  1200.5      USD      True
2  B202    Furniture  8000.0      INR     False
3  C303  Electronics  1000.0      USD      True

In [14]:
# Remove duplicate SKUs.
df = df.drop_duplicates(subset=["sku"])

In [16]:
df

    sku         type   price currency  in_stock
0  A101  Electronics  1200.5      USD      True
2  B202    Furniture  8000.0      INR     False
3  C303  Electronics  1000.0      USD      True

In [18]:
# Convert all prices to INR.
conversion = {"USD":83, "INR": 1}

df["price"] = df["price"]*df["currency"].map(conversion)
df["currency"] = "INR"

df

C:\Users\hp\AppData\Local\Temp\ipykernel_7544\1800298840.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["price"] = df["price"]*df["currency"].map(conversion)
C:\Users\hp\AppData\Local\Temp\ipykernel_7544\1800298840.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["currency"] = "INR"

    sku         type    price currency  in_stock
0  A101  Electronics  99641.5      INR      True
2  B202    Furniture   8000.0      INR     False
3  C303  Electronics  83000.0      INR      True

In [22]:
# Calculate total value of in-stock items per item type.

result = df.groupby('type')['price'].sum().to_dict()
print(result)

{'Electronics': 182641.5, 'Furniture': 8000.0}

## Student Result Generator (Max Data Type Coverage)

Generate student grades and pass/fail report based on subject marks.

Data:
- A dictionary with student names as keys and a list of (subject, marks) tuples.

Tasks:
- Calculate average marks for each student.
- Determine pass/fail status (pass if avg >= 60).
- Track failed subjects using a set.

Sample Input:
students = {
    "John": [("Math", 88), ("English", 75), ("Science", 91)],
    "Sara": [("Math", 45), ("English", 56), ("Science", 60)],
}

Expected Output:
{
    'John': {'avg': 84.67, 'status': 'Pass', 'failed_subjects': set()},
    'Sara': {'avg': 53.67, 'status': 'Fail', 'failed_subjects': {'Math', 'English'}}
}

In [28]:
# Your code here
students = { "John": [("Math", 88), ("English", 75), ("Science", 91)], 
            "Sara": [("Math", 45), ("English", 56), ("Science", 60)], }
data = pd.DataFrame(students)
data

            John           Sara
0     (Math, 88)     (Math, 45)
1  (English, 75)  (English, 56)
2  (Science, 91)  (Science, 60)

In [36]:
# Calculate average marks for each student.

result = {}

for i,j in students.items():
    total = 0
    failed = set()

    for subject , mark in j:
        total+= mark
        if mark <60:
            failed.add(subject)
    avg = round(total/len(j),2)
    status = "Pass" if not failed else "Fail"

    result[i] = {'avg':avg,'status':status,'failed':failed}

print(result)

{'John': {'avg': 84.67, 'status': 'Pass', 'failed': set()}, 'Sara': {'avg': 53.67, 'status': 'Fail', 'failed': {'English', 'Math'}}}

## Product Review Analyzer

Analyze product reviews to identify top recurring keywords.

Data:
- A list of review strings.

Tasks:
- Count the frequency of words across reviews.
- Remove common stop words (e.g., "and", "but").
- Return the top 3 frequent words.

Sample Input:
reviews = [
    "Great build and great battery life",
    "Average battery but great sound",
    "Great product, great value"
]

Expected Output:
['great', 'battery', 'build']

In [50]:
# Your code here
reviews = ["Great build and great battery life","Average battery but great sound","Great product,great value"]
text = " ".join(reviews).lower()
words = text.split()
stop_words = {"and" , "but"}
filter_word = []
for i in words:
    if i not in stop_words:
        filter_word.append(i)
        
freq = {}
for i in filter_word:
    freq[i] = freq.get(i, 0) + 1

top_words = sorted(freq.items() , key=lambda x: x[1],reverse=True)[:3]

result = []
for items in top_words:
    i = items[0]
    result.append(i)

print(result)

['great', 'battery', 'build']

## Salary Hike Simulation

Apply salary hikes based on designation rules and generate updated salary report.

Data:
- A dictionary with employee details including role and salary.
- A dictionary of hike rules by role.

Tasks:
- Apply the hike to each employee.
- Return updated salaries.
- Filter out employees who have less than â‚¹70,000 after the hike.

Sample Input:
employees = {
    "E01": {"name": "Alice", "role": "Developer", "salary": 60000},
    "E02": {"name": "Bob", "role": "Manager", "salary": 80000},
}

hike_rules = {
    "Developer": 0.10,
    "Manager": 0.15
}

Expected Output:
{'E01': 66000.0, 'E02': 92000.0}

In [17]:
# Your code here
employees = { "E01": {"name": "Alice", "role": "Developer", "salary": 60000}, "E02": {"name": "Bob", "role": "Manager", "salary": 80000}, }
hike_rules = {"Developer":0.10, "Manager":0.15}

updated_salaries = {}

for i in employees:
    role = employees[i]["role"]
    salary = employees[i]["salary"]
    hike = hike_rules.get(role,0)

    new_salary = salary+(salary*hike)

    # if new_salary <= 70000:
    updated_salaries[i] = new_salary

print("Expected Output:",updated_salaries)

Expected Output: {'E01': 66000.0, 'E02': 92000.0}

## Duplicate Email Detector

Detect and report duplicate email addresses in a company system.

Data:
- A list of email addresses.

Tasks:
- Identify duplicates.
- Count unique vs duplicate emails.
- Return a dictionary with 'unique' and 'duplicates' as keys.

Sample Input:
emails = [
    "john.doe@example.com", "jane@sample.com", "john.doe@example.com",
    "admin@example.com", "jane@sample.com"
]

Expected Output:
{
    'unique': ['john.doe@example.com', 'jane@sample.com', 'admin@example.com'],
    'duplicates': ['john.doe@example.com', 'jane@sample.com']
}

In [24]:
# Your code here
emails = [ "john.doe@example.com",
          "jane@sample.com",
          "john.doe@example.com", 
          "admin@example.com",
          "jane@sample.com" ]
unique = []
duplicate = []

for i in emails:
    if i not in unique:
        unique.append(i)
    elif i not in duplicate:
        duplicate.append(i)

result = {"unique":unique,
          "duplicate":duplicate}

print("Expected Output:",result)

Expected Output: {'unique': ['john.doe@example.com', 'jane@sample.com', 'admin@example.com'], 'duplicate': ['john.doe@example.com', 'jane@sample.com']}